<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <header>
    <h1>Music App</h1>
  </header>

  <nav>
    <% if !logged_in? %>
      <input type="button" value="sign up!"> 
    <% else %>
      <input type="button" value="log out">
    <% end %>
  </nav>
  <body>

    <%= yield %>
  </body>
</html>
